@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&family=VT323&display=swap');

header {
    display: flex;
    flex-direction: row;
    background-color: #dc5782;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-family: 'Major Mono Display';
}

body {
    font-family: 'Smooch Sans';
}

a {
    text-decoration: none;
    color: white;
}

#quiz {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 2em;
    margin-top: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 450px;
    overflow: scroll;
    padding: 25px;
}

container {
    display: flex;
    justify-content: center;
}

.question {
    font-weight: 600;
}

.answers {
    margin-bottom: 15px;
}

#results {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-top: 30px;
}

.results-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.results#submit {
    background-color: #f8db53;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    border: none;
    text-decoration: none;
    font-size: 1.8em;
    font-family: inherit;
}

.results#submit:hover {
    color: #1bbcf3;
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    background-color: #f8db53;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    border: none;
    text-decoration: none;
    font-size: 1.8em;
    font-family: inherit;
}

.blue {
    background-color: #1bbcf3;
}

.yellow {
    background-color: #f8db53;
}

.peach {
    background-color: #fcb8a1;
}

body {
    margin: 0;
}

h1 {
    margin-left: 15px;
}

p {
    font-size: 4em;
    display: flex;
    justify-content: center;
    margin: 32px;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Smooch Sans';
}

.container {
    margin-top: 250px;
}

.num-button {
    background-color: #1bbcf3;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    border: none;
    text-decoration: none;
    font-size: 1.8em;
    font-family: inherit;
}

.num-button:hover {
    color: #1bbcf3;
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    background-color: #1bbcf3;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    border: none;
    text-decoration: none;
    font-size: 1.8em;
    font-family: inherit;
}

form {
    margin-right: 15px;
    display: flex;
    height: 22.5px;
}

#query {
    background-color: rgba(255, 255, 255, 0.75);
    border: none;
    padding: 2px;
    color: black;
    font-family: 'Smooch Sans';
    font-size: 1.5em;
}

button {
    border: none;
    padding: 2px 6px;
    background-color: white;
}

button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-style: ridge ridge ridge none;
    border-color: white;
    padding: 1px 5px;
}

.carousel {
    position: relative;
    height: 600px;
    width: 90%;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.carousel__track-container {
    background-color: palegoldenrod;
    padding: 10px;
    height: 150%;
    position: relative;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 200px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    left: -50px;
}

.carousel__button--right {
    right: -50px;
}

.carousel__button img {
    width: 12px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, .3);
    margin: 0 12px;
}

.carousel__indicator.current-slide {
    background-color: rgba(0, 0, 0, .75);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

    #results {
        font-size: 2em;
        margin-top: 45px;
    }

    .results-btn {
        margin-top: 45px;
    }

    #quiz {
        font-size: 1.5em;
        text-align: center;
    }

    .card {
        width: 70%;
        padding: 30px;
        height: 500px;
    }

    #query {
        width: 120px;
    }

    h1 {
        font-size: 1.5em;
    }

    .answers {
        display: flex;
        flex-direction: column;
    }

    #gametext {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .home-text {
        font-size: 3em;
    }
}